.adress{
    background-color: rgb(213, 213, 213);
}


.adress a{
    text-decoration: none;
}

.icons{
    display: inline-block;
}

.fb-clr{
    colour:#3b5998
    
}


.insta-clr{
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.linkedn-clr{
    color: #0A66C2;
}

.twitter-clr{
   color: #1DA1F2;
}

.youtube-clr{
    color: red;
}